<div class="container">

    <table class="table mt-5 table table-bordered">
        <thead>
            <th>#</th>
            <th>Medicine Name</th>
            <th>Descripition</th>
            <th>Medicine Formula</th>
            <th>Medicine Price</th>
            <th>Medicine Expiry Date</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Panadol</td>
                <td>Pain ke Liye </td>
                <td>H2O2CHO3 </td>
                <td>$50</td>
                <td>23-2-24 .000.000</td>
                
            </tr>
        </tbody>
    </table>
</div>